/* root
-------------------- */

:root {
  --black: #030616;
  --gray: #4a5567;
  --light-gray: #97a3b6;
  --white: #f2f5f9;
  --violet: #672171;
  --purple: #7429c6;
  --pink: #c951e7;

  /* color map */
  --card-bg-color: var(--black);
  --question-bg-color: var(--gray);
  --question-text-color: var(--light-gray);
  --secondary-text-color: var(--gray);
  --try-count-active-color: var(--purple);
  --mistake-word-text-color: var(--light-gray);
  --input-border-color: var(--gray);
  --input-border-hover-color: var(--violet);
  --input-text-color: var(--white);
  --action-button-bg-color: var(--pink);
  --action-button-text-color: var(--white);

  /* font */
  font-family: Outfit, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
